.copyright__text {
  position: relative;
  margin: 0;
  text-align: center;
}

.copyright__link {
  position: absolute;
}


@media (min-width: @tablet-width) {
  .copyright {
    display: flex;
    justify-content: flex-end;
  }

  .copyright__text {
    padding-right: 36px;
  }
}
