.intro {
  min-height: 389px;
  margin: 0;
  background-color: @grey-intro;
  background-image: url("../../img/intro-triangle.svg"), url("../../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 50% bottom;
  // background-size: cover;
}

.intro__img-sedona {
  position: absolute;
  top: 22%;
  left: 19px;
  width: 282px;
}

@media (min-width: @tablet-width) {
  .intro__img-sedona {
    top: 15%;
    left: 20%;
  }

  .intro {
    background-image: url("../../img/back-tablet.jpg");
    background-repeat: no-repeat;
  }
}
