.intro {
  position: relative;
  top: -33px;
  background-image: url("../../img/back-mobile.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 158px;
}

.intro__img-sedona {
  position: absolute;
  top: 40%;
  left: 23%;
}
