.page-header {
  margin: 0;
  padding: 0;
  background-color: @white;
}

.page-header__logo {
  position: relative;
  top: -40px;
  left: 36%;
  z-index: 2;
}

@media (min-width: @tablet-width) {
  .page-header__logo {
    // position: relative;
    top: -100px;
    left: 45%;
  }
}
