.page-header {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: @white;
}

.page-header__logo {
  position: absolute;
  top: 0;
  left: 34%;
  z-index: 2;
}

@media (min-width: @tablet-width) {
  .page-header__logo {
    left: 43%;
  }
}

@media (min-width: @desktop-width) {
  .page-header__logo {
    left: 42%;
  }
}
