.page-footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
  background-color: @white;
  width: 100%;
  overflow: hidden;
}

.page-footer__item {
  padding: 41px 60px 0;
}

.page-footer__social {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-footer__hashtag {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: @black;
  margin: 0;
  padding-bottom: 33px;
}

// .page-footer__copyright {
//   font-size: 14px;
//   line-height: 26px;
//   padding-top: 45px;
// }

@media (min-width: @tablet-width) {
  .page-footer {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 36px 60px;
    min-height: auto;
  }

  .page-footer__item:first-child {
    display: flex;
    width: 63%;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__hashtag {
    margin: 0;
    padding: 0;
  }

  .page-footer__item {
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    padding: 35px 120px;
  }

  .page-footer__item:first-child {
    width: 560px;
  }
}
