.search-hotel {
  text-align: center;
  text-transform: uppercase;
  background-color: @white;
}

.search-hotel__title {
  font-size: 21px;
  line-height: 26px;
  padding-top: 33px;
  padding-bottom: 35px;
  margin: 0;
}

.search-hotel__text {
  font-size: 14px;
  line-height: 24px;
  color: @light-black;
  padding: 0 20px 27px;
  // margin: 0;
}

.search-hotel__button {
  text-decoration: none;
  width: 100%;
  min-height: 58px;
  margin-top: 51px;
  margin-bottom: 76px;
}
