.slogan {
  width: 320px;
  padding: 0 25px;
  text-transform: uppercase;
  line-height: 26px;
  margin: 0 auto;
}

.slogan__title {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.slogan__text {
  font-size: 14px;
  margin-top: 25px;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .slogan {
    min-width: 520px;
    text-align: center;
  }
}
