.slogan {
  width: 320px;
  padding: 0 25px;
  text-transform: uppercase;
  // text-align: center;
  line-height: 26px;
  margin: 0 auto;
}

.slogan__title {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.slogan__text {
  font-size: 14px;
  margin-top: 25px;
  text-align: center;
}
