/* Variables */

@blue: #81b3d2;
@white: #ffffff;
@black: #000000;
@grey: #eeeeee;
@light-grey: rgb(229, 229, 229, .1);
@dark-grey: #d6d6d6;
@grey-input: #f2f2f2;
@grey-border: #e5e5e5;
@light-black: #333333;
